{% extends "base.html" %}
{% block content %}<h1>Welcome to the software corner</h1>
{% load staticfiles %}
<img class="img-responsive" src="{% static "images/strube-group-photo.png" %}"
/>

<h2>This website</h2>
<p>This website is only a small part of the work done in Prof. Arold's lab.
Here, you can find some services provided by the Structural Biology and
Engineering laboratory, with some internal informations for the members.</p>
<p>To access the public website, please visit <a
                            href="http://strube.kaust.edu.sa">this
                            link</a>.</p>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <img class="img-responsive" src="{% static "images/FAK.png" %}" />
        </div>
    </div>
{% block articles %}
{% endblock %}
{% endblock %}
