{% extends "base.html" %}
{% load staticfiles %}
{% block content %}<h1>List of instruments and attached responsible</h1>
<div class="table-responsive">
    <table class="table">
    <thead>
        <tr>
            <th>Instrument</th>
            <th>Responsible</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Akta</td>
            <td>Raik &amp; Seungbeom</td>
        </tr>
        <tr>
            <td>Akta Prime</td>
            <td>Reyhan</td>
        </tr>
        <tr>
            <td>Thermocycles</td>
            <td>Afaque</td>
        </tr>
        <tr>
            <td>ITC</td>
            <td>Afaque</td>
        </tr>
        <tr>
            <td>MST</td>
            <td>Abdullah</td>
        </tr>
        <tr>
            <td>DLS</td>
            <td>Rayan</td>
        </tr>
        <tr>
            <td>Plate reader</td>
            <td>Umar</td>
        </tr>
        <tr>
            <td>Freezers</td>
            <td>Thasneem</td>
        </tr>
        <tr>
            <td>high speed centrifuge</td>
            <td>Safia</td>
        </tr>
        <tr>
            <td>Autoclave</td>
            <td>Safia</td>
        </tr>
        <tr>
            <td>Shake - incubators</td>
            <td>Rayan &amp; Seungboem</td>
        </tr>
        <tr>
            <td>Gel station</td>
            <td>Shoko</td>
        </tr>
        <tr>
            <td>Sonicator</td>
            <td>Shoko</td>
        </tr>
        <tr>
            <td>pH meter</td>
            <td>Shoko &amp; Raik</td>
        </tr>
        <tr>
            <td>Balances</td>
            <td>Shoko</td>
        </tr>
        <tr>
            <td>Mantis</td>
            <td>Umar</td>
        </tr>
        <tr>
            <td>Nanodrop</td>
            <td>Shoko</td>
        </tr>
        <tr>
            <td>MUVIS</td>
            <td>Umar</td>
        </tr>
        <tr>
            <td>Spectrophotometer</td>
            <td>Umar</td>
        </tr>
    </tbody>
    </table>
</div>
{% endblock %}
