{% extends "base.html" %}
{% load staticfiles %}
{% block content %}<h1>How to acces to the lab directory</h1>
<p>Our lab has a shared directory with more than 10TB of available space. You can use it
as a temporary or permanent storage, for small or large files, for archiving or
sharing. This directory is backed up. In case of mistake, your files are probably not
lost. You can contact IT Helpdesk to try to retrieve a backed up version of
your data.</p>
<p>First of all, you need to contact IT Helpdesk to ask for an access to
<code>/rcsdata/strube</code>.</p>
<p>Once the access granted, you can read all the files in the directory, add
your own, and modify some of them. Depending on your operating system, the
access to the lab directory is different.</p>
<dl>
    <dt>Windows 7</dt>
    <dd>Open your file browser, and click on the top bar.</p>
    <p class="row">
        <img src="{% static "images/windows7.png" %}" alt="windows top bar" class="img-responsive col-md-9"/>
    </p>
    <p>Then write the address of the directory : <code>\\fs10.kaust.edu.sa\strube</code>.
	Press <kbd>Enter</kbd>, and, if needed, use your credentials to connect.
    </dd>
    <dt>OS X</dt>
    <dd>Open your file browser, and click on <kbd>Go</kbd> then <kbd>Connect to Server</kbd></p>
    <p class="row">
        <img src="{% static "images/osx.png" %}" alt="OS X top bar" class="img-responsive col-md-9"/>
    </p>
    <p>Then write the address of the directory : <code>smb://fs10.kaust.edu.sa/strube</code>. Press <kbd>Enter</kbd>, and, if needed, use your credentials to connect.
    </dd>
    <dt>Linux / others</dt>
    <dd><p>If you use something else, I guess you know what to do with that :
        <code>smb://fs10.kaust.edu.sa/strube</code>
    </dd>
    <dt>SSH</dt>
    <dd>An access is also available thorugh SSH. Simply log in
        <code>dm.kaust.edu.sa</code> with your code credentials, and go to
        <code>/rcsdata/strube</code>.
    </dd>
</dl>
{% block articles %}
{% endblock %}
{% endblock %}
