{% extends "base.html" %}
{% block title %}StruBE{% endblock %}
{% block app_name %}People{% endblock %}
{% block content %}<h1>The StruBE group</h1>
<dl>
    <dt><span>Dr. Stefan Arold, PI</span></dt>
    <dd>Associate Professor of Bioscience, at KAUST since 2013; PI of the
    Structural Biology & Engineering (StruBE) group. Prof. Arold’s research is
    dedicated to elucidating the molecular basis of the function and
    (de)regulation of proteins central to cellular key signaling networks. His
    investigations are based on an integrated structural biology approach that
    combines functional and structural data from multiple sources (small angle
    X-ray scattering, X-ray crystallography, NMR, computational methods,
    biochemistry, high-throughput ligand binding assays and functional
    analyses). Some say that the name StruBE stemms from Prof. Arold’s first
    hamster (R.I.P. 1981), but this has not yet been confirmed.</dd>

    <dt><span>Dr. Abdirahman M. Jama</span></dt>
    <dd>Post-doctoral fellow dissecting how Ca2+/calmodulin regulates focal
    adhesion proteins, and promotes aggressive invasiveness in some cancer
    types. Understanding the atomic mechanism of calmodulin-dependent calcium
    sensing might usher in novel small molecule therapeutic drugs. This research
    is carried out using biophysical/biochemical techniques that include X-ray
    crystallography, small angle X-ray scattering, spectrofluorimetry and
    isothermal titration. Although Dr. Abdirahman obtained his PhD from
    Edinburgh University, (United Kingdom), nobody has seen him in a kilt
    yet.</dd>

    <dt><span>Dr. Katarzyna W. Walkiewicz</span></dt>
    <dd>Post-doctoral fellow focusing on characterisation and understanding of
    protein-protein interactions using combinatorial structural and
    biophysical/biochemical approaches including x-ray crystallography,
    isothermal titration calorimetry, florescence spectroscopy and
    thermophoresis. Dr. Walkiewicz obtained her PhD from Rice University (USA)
    and can explain the five different versions of the sound ‘wsh’ used in
    Polish language.</dd>

    <dt><span>Dr. Umar Shahul Hameed</span></dt>
    <dd>Post Doctoral Fellow focusing on characterising proteins structure and
    function using X-ray crystallography and biophysical techniques and applying
    them to answer key biological questions. He is particularly interested in
    characterizing MAP kinase family proteins, which are responsible for plant
    immunity and resistance to stressed conditions. Dr. Hameed obtained his PhD
    from National University of Singapore, and gets regular advice for his lab
    work from his 6-year old daughter.</dd>

    <dt><span>Mr. Afaque Momin</span></dt>
    <dd>Second-year PhD student studying the structural and functional basis of
    focal adhesion proteins to understand their role in promoting cancer cell
    invasiveness. His research combines computational methods (molecular
    dynamics and bioinformatics) with experimental methods (biophysics and
    structural biology). He received his Master of Science (Bioinformatics) from
    the University of Mumbai, Mumbai (India), and will bring you India’s best
    mangoes when you expect it least.</dd>

    <dt><span>Ms. Rayan Naser</span></dt>
    <dd>Second-year PhD student, studying structure and function of key
    complexes involved in focal adhesion assembly and control. She uses a
    combination of biophysical assays in addition to computational and cell
    biology methods. Ms Naser obtained her Master degree from the American
    University of Beirut (Lebanon), and she is the one to ask for the second
    best Lebanese bakery (after her mother).</dd>

    <dt><span>Ms. Safia Aljedani</span></dt>
    <dd>Second-year PhD student studying the structure and function of
    ligand-based activation of the phosphoinositide 3 kinase (PI3K). To study
    multi-domain protein-protein complexes she uses a combination of
    biophysical, computational and cell biology methods. She received her MSc
    from KAUST, and can tell a camel spider from a tarantula.</dd>

    <dt><span>Mr. Abdullah Al-Amoudi</span></dt>
    <dd>A masters student who joined the group in spring 2015. He is
    constructing a FRET sensor to screen focal adhesion proteins for inhibitors
    as potential cancer drugs. He got his MBBS from King Abdulaziz University in
    Jeddah (KSA) and is now making the attempt for healing through science.</dd>

    <dt><span>Ms. Regina Baur</span></dt>
    <dd>Joined our group with a VSRP, which probably means ‘visiting student
    research programme’. She is investigating the structure-function
    relationship of MAP kinases, and knows about the only French territory
    located in Bavaria. She has received her MSc (Biochemistry) from the
    Technische Universität in Munich (Bavaria).</dd>

    <dt><span>Mr. Arnaud Hungler</span></dt>
    <dd>Computer scientist whose main goal is the establishment of a truly
    integrated functional annotation pipeline for protein sequences.
    Interestingly, this task includes writing code that emulates the group
    leader, Prof Arold. Needless to say that Prof Arold is eager to see that
    programme (do his) work. Mr. Hungler graduated from the École des Mines de
    St-Étienne (France).</dd>

    <dt><span>Ms. Franceline Huser</span></dt>
    <dd>Lab Manager involved in general lab management, while working on
    biochemistry and structural analysis of proteins. In addition to assisting
    researchers in the lab with their experiments, she pursues her own research
    projects based on understanding the impact of the dark side of penguins on
    climate change. Ms Huser received an MSc in Medical Biology from the
    University of Lausanne (Switzerland).</dd>

    <dt><span>Ms. Hyeryeung Noh</span></dt>
    <dd>Lab technician working on the lab management and technical assistance to
    support researchers in the lab. She received her MS in Chemical Engineering
    from the Chungbunk National University (S. Korea). She is the second most
    knowledgeable person in the lab for greetings in different languages.</dd>

    <dt><span>Ms. Thasneem F. Kamarudeen</span></dt>
    <dd>Admin Assistant working on the lab management and a myriad of other
    admin jobs required for smooth operations. She received her Bachelors in
    Economics from the Ethiraj College for Women, Chennai (India).</dd>
</dl>
{% endblock %}
