@font-face {
    font-family: "RotisSansSerif";
    font-style: normal;
    font-weight: normal;
    src: url('/static/fonts/RotisSansSerif.woff') format('woff'),
         url('/static/fonts/RotisSansSerif.ttf') format('truetype'),
         url('/static/fonts/RotisSansSerif.svg#RotisSansSerif') format('svg');
}

html, body {
    height: 100% !important;
    font-family: "RotisSansSerif", Arial;
    font-size: 18px;
    line-height: 1.3em;
    background: linear-gradient(white, #BCBCBC) no-repeat;
    background-attachment: fixed;
    padding-left: 5px;
    padding-right: 5px;
}

a:link, a:visited {
    color: #CE6E11;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #003B75;
}

.header {
    display: flex;
    justify-content: center;
    margin: 1em;
}

#title {
    color: #003B75;
    font-size: 2em;
    font-weight: bold;
    display: inline;
}

nav.navbar {
    background-color: #003B75;
    clear: both;
    border-radius: 6px;
    margin: 0;
    min-height: 0px;
}

nav .glyphicon {
    color: white;
}

.nav .dropdown-menu {
    background-color: #003B75;
}

nav .nav li a {
    color: white;
    border-right: thin solid #7BA0BD;
    font-size: 0.8em;
    padding: 0.2em 0.6em;
}
nav .nav li a.last {
    border-right: none;
}

nav.navbar li a:hover, nav.navbar li.open>a, nav.navbar li a.dropdown-toggle:focus {
    background-color: #5284C4;
}

/* Overwrite bootstrap*/
.nav .dropdown-menu li a {
    color: white;
    font-weight: bold;
}
/*End*/

.nav .logo {
    height: 1.5em;
    margin-right: 1em;
}

.content {
    background-color: white;
    padding: 2em;
    border-radius: 6px;
    margin: 1em -15px 1em -15px;
}

#footer {
    background-color: #003B75;
    color: white;
    border-radius: 6px;
}

#footer p {
    text-align: center;
    margin: 0;
    font-size: 0.6em;
}

h1, h2, h3 {
    color: #8e635a;
}

p {
    text-align: justify;
}

dl dt {
    margin: 1em;;
    padding: 0;
    border-bottom: solid #003B75 thin;
    vertical-align: bottom;
}

dl dt span {
    display: inline-block;
    margin: 1em;
    margin-bottom: 0;
    padding: 0.4em;
    padding-bottom: 0;
    background-color: #003B75;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

dl dd {
    margin-top: 0;
    padding-top: 0;
}

dl h5 {
    font-size: 1em;
    font-weight: bold;
}

.ladda-button, .btn-primary {
    border-radius: 10px;
    background-color: #003B75;
}

.extra-link {
    margin-top: 1em;
}

.no-bullet{
    list-style: none;
}

#news {
    padding: 1em;
    margin-left: 0;
    margin-right: 0;
}

#contaminants .form-group {
    margin: -0.5em;;
}
